.section{
    margin-top: 100px;
}
.wrap{
    display: flex;
    justify-content: space-evenly;
}
.topGreen{
    background: #2FB95D;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
    color: white;
    font-family: sans-serif;
    width: 310px;
}
.form{
    display: flex;
    flex-direction: column;
    background: #043A3A;
    width: 310px;
    transform: translateX(-10%);
    border-radius: 24px;
    padding: 30px;
    text-align: left;
}
.form label p{
    font-size: 14px;
    margin-bottom: 14px;
}
.form label h4{
    margin-bottom: 14px;
    font-size: 30px;
    font-weight: 500;
}
.form ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
}
.form li{
    border-bottom: 1px solid silver;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}