.gridd{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 80px;
}
.kart{
    width: 90%;
    border-radius: 27px 27px 0px 0px;
    height: 480px;
    transition: 0.4s;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.kart img{
    width: 100%;
}
.kart:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.kart .bioInfo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-evenly;
}
.bioInfo h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
}
.bioInfo a{
    margin-top: 20px;
    color: green;
    font-family: sans-serif;
}